<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!./element/meta.html') %>
        <link rel="icon" href="<%= BASE_URL %>favicon.ico">
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
</head>

<body class="wetui-theme">
    <div id="loading_init" class="pageloading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div class="tjblog-page">
        <header class="wet-nav">
            <%= require('html-loader!./element/header.html') %>
        </header>
        <aside class="page-left">
            <!-- <div id="globelrender"></div> -->
            <section class="page_section box-boder">
                <h3 class="section_hd">热门推荐</h3>
                <%= require('html-loader!./element/hotart.html') %>
            </section>
            <section class="page_section box-boder">
                <h3 class="section_hd">打赏本站</h3>
                <%= require('html-loader!./element/reward.html') %>
            </section>
            <section class="page_section box-boder">
                <h3 class="section_hd">友情广告</h3>
                <div>
                    <a href="#">
                        <img alt="广告图片" src="<%= BASE_URL %>image/adnot.png">
                    </a>
                </div>
                <div>
                    <a href="#" class="wet-btn wet-btn__info wet-btn__block">暂无广告</a>
                </div>
            </section>
        </aside>
        <div class="page-right">
            <section class="box-boder page_section">
                <h3 class="section_hd">文章栏目</h3>
                <div class="list_hd">
                    爱和死有一点相同：无论是帝王的高堂大殿还是牧人的茅屋草舍，它都闯进去！你与我也有一点相同：无论是相隔万里还是近在咫尺，它都是缘分;原谅我的无病呻吟，喜欢的给博客点个赞！！！
                </div>
            </section>
            <section class="page_section box-boder art_list">
                <h3 class="section_hd">文章列表</h3>
                <%= require('html-loader!./element/artlist.html') %>
            </section>
        </div>
    </div>
    <footer class="footer-wrrapper write_type">
        <%= require('html-loader!./element/footer.html') %>
    </footer>
    <div id="app" data-cate="[{name:'xxx'}]" data-user="{ user:'dafdas'}"></div>
    <!-- built files will be auto injected -->
</body>

</html>